.container {
  width: 75%;
}

.col {
  width: 10vw;
  height: 10vw;

  margin: 1rem;
  border-radius: 100%;
  font-size: 3vw;
  text-align: center;
  padding-top: 2.5vw;
}

.col:hover {
  background-color: transparent !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
